body {
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav div:last-child {
    display: flex;
    gap: 1rem;
}
.container {
    max-width: 1200px;
    margin: auto;
}